.categoria{
    text-align: center;
    padding: 32px;

}

.categoria h3{
    font-size: 32px;
    border-bottom: 4px solid;
    display: flex;
    flex-direction: row;
    padding-bottom: 8px;
 
}
/* 
.categoria .livros {
    display: "flex";
    flex-direction: "row";
    justify-content: "space-around";
    margin-top: "32px";
    flex-wrap: "wrap";
} */